@tailwind base;
@tailwind components;
@tailwind utilities;


video {
  object-fit: fill;
  object-position: center;
}

/* write css for when  i click the button div should come from right in 3 sec  */

.slide-in{
  transform: translateX(0);
}

.slide-out {
  transform: translateX(100%);
}